<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    
    <div class="container">
        <h2>Bem-vindo ao Mestre das Moedas!</h2>

        <div class="links">
            <a href="/login">Acessar uma conta</a>
            <a href="/register">Cadastrar-se</a>
        </div>
    </div>

</body>
</html>