<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="shortcut icon" href="/imgs/moedinha.png" type="image/x-icon">
</head>
<body>
    
    <div class="container">
        <% if (status == 'loggedIn') { %>
            <h2> Bem-vindo de volta, <span><%= user.nome %></span>!</h2>
            <div class="links">
                <div class="navigation">
                    <a href="#">Home</a>
                </div>
                <div class="userLinks">
                    <a href="/profile">Acessar perfil</a>
                    <div class="logo">
                        <img src="./imgs/moedinha.png" alt="">
                    </div>
                    <a href="/logout" class="logoutButton">Sair da conta</a>
                </div>
            </div>
        <% } else { %>
            <h2>Bem-vindo ao <span>Mestre das Moedas</span>!</h2>
            <div class="links">
                <a href="/login">Acessar uma conta</a>
                <a href="/register">Cadastrar-se</a>
            </div>
        <% } %>
    </div>
    

</body>
</html>