<!-- filepath: c:\Users\bruno\OneDrive\Área de Trabalho\cc\4° semestre\abexiv\abexIV\views\index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="shortcut icon" href="/imgs/moedinha.png" type="image/x-icon">
</head>
<body>
    
    <div class="container">
        <h2>Bem-vindo ao Mestre das Moedas!</h2>

        <div class="links">
            <a href="/login">Acessar uma conta</a>
            <a href="/register">Cadastrar-se</a>
        </div>

        <% if (status == "loggedIn") { %>
            <div class="textoteste">Usuário logado</div>
        <% } else { %>
            <div class="textoteste">Usuário NÃO logado</div>
        <% } %>
    </div>

</body>
</html>