<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de perfil</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="shortcut icon" href="./imgs/moedinha.png" type="image/x-icon">
</head>
<body>
    
    <header id="header">
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/profile" class="active">Meu perfil</a></li>
                <li><a href="/logout" class="logout">Sair da conta</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="left">
                <div class="profile-pic"></div>
                <div class="username"><span>@</span><%= user.nome %></div>
                <a href="#" class="edit-icon">
                    <img src="./imgs/edit-button.png" alt="Edit icon">
                </a>
            </div>
            <div class="right" style="pointer-events: none;">
                <div class="field">
                    <div class="field-name">E-mail:</div>
                    <div class="field-value"><%= user.email %></div>
                </div>
                <div class="field">
                    <div class="field-name">Senha:</div>
                    <div class="field-value"><%= '*'.repeat(user.senhaLength) %></div>
                </div>
            </div>
            <div class="edit">
                <div class="fields">
                    <input type="email" name="newEmail" placeholder="Digite seu novo e-mail">
                    <input type="text" name="newUser" placeholder="Digite seu novo usuário">
                    <input type="password" name="newPassword" placeholder="Digite sua nova senha">
                </div>
                <div class="buttons">
                    <button type="submit" class="green">Alterar</button>
                    <button type="submit" class="red">Cancelar</button>
                </div>
            </div>
        </div>
    </main>

    <script src="js/profile.js"></script>
</body>
</html>