
@import url(general.css);

.container{
    display: flex;
    height: 80%;
    width: 80%;
    background-color: var(--dark-blue);
    border-radius: 50px;
    padding: 25px;
    box-shadow: 3px 0 15px rgba(0, 0, 0, .8);
}


/*seção esquerda*/
.left-section{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    position: relative;
}
.left-section .hero-image{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: url(https://www.si.com/.image/t_share/MjAyNzQ2NTQ2MzA1OTAxNTgw/usatsi_22051799_168388359_lowres.jpg) center/cover no-repeat;
}
/*voltar para página inicial*/
.voltarHomeLink{
    text-decoration: none;
    color: var(--beige);
    font-weight: 400;
}
.voltarHome{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    top: 15px;
    right: 15px;
    padding: 6px 8px;
    border-radius: 12px;
    transition: all .3s ease;
}
.voltarHome:hover{
    transform: translateY(-2px);
}

/*seção direita*/
.right-section{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.right-section .title{
    display: flex;
    gap: 15px;
    width: 300px;
    position: relative;
}
.right-section .title h1{
    font-weight: 900;
    font-size: 50px;
    line-height: 46px;
}
.right-section .title p{
    margin-top: 8px;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    font-style: italic;
}
.right-section .title p span{
    font-weight: 700;
}
.titletext{
    display: flex;
    flex-direction: column;
}

.right-section .title .moeda img{
    width: 100px;
    height: auto;
    position: absolute;
}

/*formulário*/
.right-section form .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.right-section form .preencher{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.right-section .formulario .botaoEnvio,
.right-section form input{
    width: 300px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 0px 10px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    background-color: var(--beige);
}

.right-section .formulario .botaoEnvio{
    cursor: pointer;
    font-weight: 700;
    transition: .3s ease;
}
.right-section .formulario .botaoEnvio:hover{
    background-color: var(--light-blue);
    color: var(--beige);
}

/*ainda não tem conta*/
.semConta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.semConta{
    margin-top: 15px;
    position: relative;
}
.semConta a{
    display: inline-block;
    color: var(--beige);
    font-size: 14px;
    position: absolute;
    text-decoration: none;
    background-color: var(--dark-blue);
    padding: 0px 10px;
}
.semConta a:hover{
    text-decoration: underline;
}

.semConta .risquinho{
    width: 300px;
    height: 1px;
    background-color: var(--mid-blue);
}

